<!DOCTYPE html>
{{ `<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->` | safeHTML }}
{{ `<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->` | safeHTML }}
{{ `<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->` | safeHTML }}
{{ `<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->` | safeHTML }}
<html>
<head>
{{ partial "head.html" . }}
</head>
<body>

{{ block "main" . }}{{ end }}
{{ partial "header.html" . }}
{{ partial "footer.html" . }}
{{ partial "js.html" . }}
</body>
</html>
